/*************************************/
/* BELOW 376px (Phones) */
/*************************************/

@media (max-width: 376px) {
  .component {
    width: 320px;
  }

  .img {
    width: 290px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 17px;
  }
}
